.App {
  background: #101828;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
}

.form {
  width: 460px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.form .group {
  margin-bottom: 40px;
}

.form .group-two {
  display: flex;
  /* background: red; */
  justify-content: space-between;
  margin-bottom: 40px;
  color: #98a2b3;
  font-size: 15px;
}
.form h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
.form .group-checkbox {
  display: flex;
  align-items: center;
}
.form .group-checkbox input {
  width: 23px;
  height: 23px;
  margin-right: 15px;
}

button.btn {
  background: #98a2b3;
  width: 100%;
  max-width: 280px;
  border: none;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

button.btn-clear {
  background: transparent;
  color: #98a2b3;
  border: none;
}

.input-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 18px;
  gap: 9px;
border: none;
  width: 261px;
  height: 36px;

  background: #ececec;
  border-radius: 54px;
}


