header{
    background: #101828;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    height: 70px;
    position: absolute;
    top: 0;
  }
  
  header .info{
    display: flex;
    align-items: center;
    color: white;
  }
  header .info span{  
    margin-right: 10px;
  }
  header .info img{
    border-radius: 50%;
  }