aside{
  background: #101828;
  width: 270px;
  height: calc(100vh);
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  
}
aside .top{
  margin-top: 80px;
}
aside ul{
  list-style: none;
  margin: 50px 0 10px 0;
  padding: 0;
}

aside ul li a,
aside ul li button{
  text-decoration: none;
  padding: 20px 30px;
  display: block;
  background: #101828;
  color: #d0d5dd;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border: none;
  
}
aside ul.bottom li button{
  margin: 0 auto;
  text-align: center;
}

aside ul li span{
  font-size: 18px;
}
aside ul li .active{
  color: white;
  font-weight: bold;
}