section.section{
    background: white;
    width: calc(100% - 270px);
    margin-left: 270px;
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px);
    padding: 20px;
    box-sizing: border-box;
  }