section.cont-table {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden; 
}
table {
  width: 100%;
  border-collapse: collapse;
}
table thead {
  border-radius: 20px;
}
table thead th {
  background-color: #344054;
  color: #ffffff;
  padding: 10px 0;
  font-weight: 300;
}
table tbody tr {
  border-bottom: 1px solid #ddd;
}
table tbody tr:last-child {
  border-bottom: none;
}
table thead th,
table tbody td {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}


  table{
    width: 100%;
    border-collapse: collapse;
  }
  table thead{
    border-radius: 20px;
  }
  
  table thead th p{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  table tbody td .actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px !important;
    margin-right: 10px !important;
  }
  /* table tbody td .actions a, */
  table tbody td .actions button
  {
    color: #344054;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  table tbody td .actions button a{
    color: #344054;
  }
  table tbody td .estatus > span{
    display: block;
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    margin-left: 0px;
  }
  table tbody td .estatus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 114px;
  }

table thead th p {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
table tbody td .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* table tbody td .actions a, */
table tbody td .actions button {
  color: #344054;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
table tbody td .actions button a {
  color: #344054;
}
table tbody td .estatus > span {
  display: block;
  width: 15px;
  height: 15px;
  background: gray;
  border-radius: 50%;
  margin-left: 10px;
}
table tbody td .estatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table tbody td .estatus > span.enproceso {
  background: yellow;
}
table tbody td .estatus > span.facturado {
  background: green;
}
table tbody td .estatus > span.descartado {
  background: orange;
}
table tbody td .estatus > span.rechazado {
  background: red;
}
table tbody td .estatus > span.pendiente {
  background: blue;
}

.backgroundModal {
  display: flex;
  flex-direction: column;
  margin: 130px 10px 200px 200px;
  background: #ececec;
  width: 60%;
  height: 350px;
  position: absolute;
  box-shadow: 2px 5px 10px 2px rgba(0, 5, 0, 0.5);
  border-radius: 15px;
  padding: 15px;
  top: 0;
}

.modalAttributes {
  list-style: none;
}

.key {
  width: 180px;
  font-weight: bold;
}

.value {
  width: 250px;
}

.closeW {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  margin-left: 96%;
  background: transparent;
  font-weight: bold;
}

.fileModal {
  padding: 3px;
} 

.content{
  position: relative;
}
.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  color: #475467 !important;
  border-color: #475467 !important;
  background: transparent !important;

}